<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sondouni">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sondouni">
        <activity
            android:name=".ch10.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ch10.MovieListActivity"
            android:exported="false" />
        <activity
            android:name=".ch10.TestWDActivity"
            android:exported="false" />
        <activity
            android:name=".ch10.WeeklyBoxOfficeActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="ddazua.CameraResultActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.PreferencActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DdIntentSubSActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.BundleActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DHandlerActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ch10.DailyBoxOfficeActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="ddazua.DIntentSubActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DIntentActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DAlertActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DDialogActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DClickActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".picsum.PicsumActivity"
            android:exported="false" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="ddazua.DTouchActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name="ddazua.DMenuActivity" -->
        <!-- android:exported="false"> -->
        <!-- /> -->
        <!-- </activity> -->
        <activity
            android:name=".ch07.BookPersonActivity"
            android:exported="false" />
        <activity
            android:name=".MyWriteActivity"
            android:exported="false" />
        <activity
            android:name=".WriteActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinearActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>